body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-home{
  background: url("./assets/img/logo.jpeg") no-repeat center;
  box-sizing: content-box;
  width: 100%;
  height: 300px;
}
.carro-somos{
  background: url("./assets/img/carro-somos.png") no-repeat;
}